body{
    background-color:#FFF;
    margin:0;
    padding:0;
}

.barraMenu{
    text-align: center;
    overflow-y:auto;
    position:fixed;
    left:0;
    top:0;
    /**/
    border-bottom:1px solid #466995;
    width:100%;
    /**/
    z-index:1000;
    /* background-color:#466995;*/
     background-color:rgba(255,255,255,0.9);
}

/*barra principal*/
.barraMenu ul{
    padding:0;
}
/*barra principal*/
.barraMenu li{
    display:inline-block;
    font-family:'Abel',san-serif;
    font-size:17px;
    font-weight:1000px;
    margin:16px 20px;
    text-transform:uppercase;
    /* color:white;*/
    color:#14213D;
}

/*iluminar al pasar el cursor*/
.barraMenu li:hover{
    color:brown;
}

.encabezado{
   background-image:url("http://k38.kn3.net/taringa/2/4/2/8/3/9/09/-splash-/EBF.jpg?1745");
    background-position: center center;
    background-size:cover;
    height:700px;
    width:100%;
    opacity:1;
}


#encabezado-texto{
    margin:0 auto;
    position:relative;
    text-align:center;
    top:25%;
    width:60%;
}

.encabezado h1{
    color:#FFF;
    font-family: 'Quicksand', sans-serif;
    font-size:70px; 
    font-weight:400;
    line-height:60px;
    margin:0;
}

.encabezado h2{
    color:#FFF;
    font-family:'Open Sans', sans-serif;
    text-align:center;
    font-size:28px;
    font-weight: 100;
}

.medio{
    padding:20px;
    margin:0 auto;
    border-bottom:1px solid #EEE;
}

.medio img{
    position:relative;
    top:6px;
}

.medio h4{
    color:black;
    font-family:'Amaric SC', sans-serif;
    font-size:72px;
    line-height: 60px;
    padding: 20px 10px;
    text-align: center;
}

.bajo{
    background-image: url("http://wallpaper-gallery.net/images/orange-blue-wallpaper/orange-blue-wallpaper-20.jpg");
      background-position: center center;
   margin:0;
    padding:40px;
}

.cuadros{
    margin:40px auto;
    width:60%;    
}

.cuadro{
    border:1px solid #FFF;
    padding:40px 0px;
    margin:5px 0px;
}

.cuadro h2{
    font-family:'Quicksand', sans-serif;
    font-size:24px;
    text-align: center;
    font-weight: 100;
    color:#FFF;
}

.cuadro p{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:100;
    line-height: 24px;
    margin:0 auto;
    text-align:center;
    width:60%;
}

#imagenCover{
    background-size:cover;
    height:900px;
    position:relative;
    top:-55px;
    width:100;
    background-attachment:fixed;
}

.imagenCover-contenido{
    box-sizing:border-box;
    margin:0 auto;
    position:relative;
    text-align:center;
    top:280px;
    width:70%;
}

#imageCover a{
    text-decoration:none;
}

.btn{
    background-color:#14213D;
    color:#FFF;
    font-family:'Amatic SC', cursive;
    font-size:26px;
    padding:14px;
}

#imagenCover {
     background:url("https://cnet2.cbsistatic.com/img/Pk12VE6q04dcywUQhA9gDN7hfRs=/770x433/2016/04/19/35d78718-ff0d-45fb-a48e-4805e815744b/apple-macbook-2016-06.jpg") no-repeat center bottom;
    background-size:cover;
    height:900px;
    position:relative;
    top:-55px;
    width:100%;
    background-attachment:fixed;
}


.imagenCover-contenido h1{
    color:#FFF;
    font-family:'Amatic SC', cursive;
    font-size:72px;
    line-height:60px;
    padding:20px 20px;
    text-align:center;
}

.imagenCover-contenido h2{
    color:#000;
    font-family:'Raleway',sans-serif;
    font-size:42px;
    font-weight:300;
    text-align:center;
}
    